/* initial setup */

*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    --main-background: rgb(138, 163, 153);
    --purple: rgba(125, 132, 178, 0.596);
    --blue: rgb(143, 166, 203);
    --lime-yellow: rgba(220, 244, 167, 0.801);
    --lime-yellow-darker: rgba(197, 219, 149, 0.801);
    --pastel-green: rgb(213, 249, 222);

    --light-gray: rgba(170, 170, 170, 0.5);
    --not-quite-black: rgba(0, 0, 0, 0.65);
    --done-green: rgb(70, 253, 101);

    font-size: clamp(12px, max(2vh, 2vw), 24px);
    font-family: 'Courier New', Courier, monospace;
}

button, .card-del-btn, .project-expand-btn {
    outline: none;
    border: 2px solid var(--blue);
    background-color: white;
}

button:hover, .card-del-btn:hover, .project-expand-btn:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

button:active, .card-del-btn:active, .project-expand-btn:active {
    box-shadow: inset 1px 1px 6px var(--purple), inset -1px -1px 6px var(--purple);
}

/* body or main setup */

body {
    background-color: var(--main-background);
    margin: 1rem 1rem 0 1rem;
}

#body-wrap {
    display: grid;
    grid-template: minmax(5rem, 1fr) 9fr / 1fr;
    min-height: 100vh;
}

/* header styling ^-^ */

header {
    /*
    display: grid;
    grid-template: 1fr / minmax(10rem, 1fr) repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0 0 1rem;
    background-color: var(--pastel-green);
    border-radius: 2rem 2rem 0 0 ;
}

#header-heading {
    font-size: 1.4rem;
    flex: 1 1 30rem;
    padding: 0rem 0 0 0rem;
    justify-self: center;
}

#note-form-btn-wrapper {
    position: fixed;
    bottom: calc(0.5 * max(4vw, 4vh, 4rem) );
    right: calc(0.5 * max(4vw, 4vh, 4rem));
    align-content: center;
    padding: 0 1rem 0 0;
    flex: 1 1 5rem;
    display: grid;
    justify-items: right;
}

#note-form-btn {

    /* box-shadow: 2px 2px 5px var(--purple); */
    border-radius: max(4vw, 4vh, 4rem);
    height: max(4vw, 4vh, 4rem);
    width: max(4vw, 4vh, 4rem);
    font-size: 1.2rem;
    z-index: 2;
}

#note-form-btn:hover {
    background-color: whitesmoke;
}

#note-form-btn:active {
    box-shadow: inset 1px 1px 6px var(--purple), inset -1px -1px 6px var(--purple);
}

.form-displayed {
    position: absolute;
    height: 2rem !important;
    width: 2rem !important;
    left: 85%;
    top: 3%;
}

/* form styling */

#note-form-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    background-color: var(--pastel-green);
    border: 2px solid var(--blue);
    border-radius: 1rem;
    padding: 1rem;
    width: clamp(10rem, 90vw, 20rem);
    z-index: 2;
}

#note-form-container.hidden {
    display: none;
}

form {
    display: grid;
    grid-template: 1fr 1.5fr 1fr 1fr 0.6fr / 1fr;
    gap: 0.5rem;
    font-size: .8rem;
}

.input-wrapper {
    height: min(auto, 15rem);
    display: flex;
    flex-flow: column;
    max-height: fit-content;
    /*
    display: grid;
    grid-template: 1fr / 1fr 1fr;*/
    justify-content: space-between;
    align-items: left;
    color: var(--not-quite-black);

    input {
        border: 1px solid var(--light-gray);
        border-radius: 5px;
        height: 1rem;
    }

    textarea {
        border: 1px solid var(--light-gray);
        border-radius: 5px;
    }
}

.input-wrapper input:focus, .input-wrapper textarea:focus {
    outline: 1px solid var(--not-quite-black);
}

legend {
    font-size: .9rem;
    margin: 0 0 .5rem 0;
}

#note-form-submit-btn {
    width: max(5rem, 50%);
    height: 100%;
    border-radius: 5px;
}

#desc {
    resize: none;
}


/* and now the main ! */

main {
    background-color: var(--lime-yellow);
    padding: 1rem;
}

#task-container {
    display: flex;
    flex-flow: column;
    gap: .7rem;
}

.project-group {
    border: 0.15rem solid var(--purple);
    border-radius: 0.3rem;
    padding: 0.5rem;
    flex: 1;
    background-color: var(--lime-yellow-darker);
    
    display: grid;
    grid-template: 0fr 1fr / 1fr 0.1fr;
}

.project-expand-btn {
    display: grid;
    font-size: 0.7rem;
    color: var(--not-quite-black);
    max-width: max(4rem, 10vw);
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    filter: opacity(0.8);
}

.project-group-inner {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}

.card-body {
    flex: 0.1 1 15rem;
    height: clamp(15vh, 10rem, 20vh);

    border-radius: 12px;
    padding: 1rem;
    background-color: whitesmoke;

    display: grid;
    grid-template: 1fr 3fr 1fr 1fr / 1fr 0.1fr;

    .card-heading {
        grid-column: 1 / span 1;
    }

    .card-del-btn {
        grid-column: 2 / span 1;
    }

    > * {
        grid-column: 1 / span 3;
    }
}

.card-del-btn {
    display: grid;
    justify-self: center;
    align-content: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;

    border-radius: 8px;
}

.card-desc {
    color: var(--not-quite-black);
    font-size: 0.7rem;
}

.card-deadline {
    font-size: 0.6rem;

}

.card-progress-input {
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div:hover {
        cursor: pointer;

    }

    > div {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    > div:nth-child(n+2) {
        border-left: 1px solid var(--not-quite-black);
    }
}

.checked {
    .not-started {
        
    }

    .started {
        box-shadow: inset 2px 2px 2px orange;
    }
}

.checked {
    /* box-shadow: inset 2px 2px 5px rgb(202, 202, 202); */
    font-weight: bold;
}